## Preprocess the data (as before)

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df.APPLICATION_TYPE.value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
# use the variable name `application_types_to_replace`
application_types_to_replace = ('T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17')

In [6]:
# Choose a cutoff value and create a list of application types to be replaced

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df.CLASSIFICATION.value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C2500        1
C8210        1
C1283        1
C1728        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_1 = (classification_count[classification_count > 1])
greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C2400        6
C4100        6
C1720        6
C1257        5
C1600        5
C2710        3
C0           3
C1260        3
C1234        2
C1267        2
C1246        2
C3200        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [9]:
classifications_to_replace = list(classification_count[classification_count < 190].index)

In [10]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [11]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [12]:
# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            9
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [13]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [14]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [15]:
# Split our preprocessed data into our features and target arrays
y = application_df["STATUS"].values.reshape(-1, 1)
X = application_df.drop("STATUS", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=84)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Optimize the Model - Attempt #1

#### Status Column ---- 2 values
#### SPECIAL_CONSIDERATIONS column ---- 2 values

changed random states to 94

attempt 1

In [17]:
# # Dependencies
# import numpy as np
# import matplotlib.pyplot as plt

# # Example outlier plot of reaction times
# classifications = [17326,6074,4837,2261,1918,1883]
# fig1, ax1 = plt.subplots()
# ax1.set_title('classification types')
# ax1.set_ylabel('classification')
# ax1.boxplot(classifications)
# plt.show()

In [18]:
# # Determine which data points are outside of the 1.5*IQR range
# quartiles = np.quantile(classification,[.25,.75])
# iqr = quartiles[1]-quartiles[0]
# lower_bound = quartiles[0]-(1.5*iqr)
# upper_bound = quartiles[1]+(1.5*iqr)

# potential_outliers = [print(classification) if classification < lower_bound or classification > upper_bound else next for classification in classifications]

In [19]:
# potential_outliers

In [20]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  7
hidden_nodes_layer2 = 8


#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

WARNING:tensorflow:From C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 7)                 329
_________________________________________________________________
dense_1 (Dense)              (None, 8)                 64
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 9
=================================================================
Total params: 402
Trainable params: 402
Non-trainable params: 0
_________________________________________________________________

In [21]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

WARNING:tensorflow:From C:\Users\mdebo\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\ops\nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 1.2719 - acc: 0.0454
Loss: 1.2719161659913578, Accuracy: 0.04536443203687668

In [23]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized_3.h5")

In [24]:
# Add model weight checkpoints during training
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("optimized_checkpoints/", exist_ok=True)
checkpoint_path="optimized_checkpoints/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq="epoch",
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [25]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100, callbacks=[cp_callback])

Epoch 1/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.1985 - acc: 0.9235
Epoch 2/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.0033 - acc: 1.0000
Epoch 3/100
25724/25724 [==============================] - 1s 21us/sample - loss: 9.8316e-04 - acc: 1.0000
Epoch 4/100
25724/25724 [==============================] - 1s 21us/sample - loss: 5.7791e-04 - acc: 1.0000
Epoch 5/100
24224/25724 [===========================>..] - ETA: 0s - loss: 1.5348e-04 - acc: 1.0000
Epoch 00005: saving model to optimized_checkpoints/weights.5.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 4.5400e-04 - acc: 1.0000
Epoch 6/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.8422e-04 - acc: 1.0000
Epoch 7/100
25724/25724 [==============================] - 1s 24us/sample - loss: 3.3808e-04 - acc: 1.0000
Epoch 8/100
25724/25724 [==============================] - 1s 20us/sample - loss: 3.2997e-04 - acc: 1.0000
Epoch 9/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.1610e-04 - acc: 1.0000
Epoch 10/100
25504/25724 [============================>.] - ETA: 0s - loss: 3.0964e-04 - acc: 1.0000
Epoch 00010: saving model to optimized_checkpoints/weights.10.hdf5
25724/25724 [==============================] - 1s 20us/sample - loss: 3.0837e-04 - acc: 1.0000
Epoch 11/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.4339e-04 - acc: 1.00000s - loss: 3.0007e-04 - acc: 1.0
Epoch 12/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.2821e-04 - acc: 1.0000
Epoch 13/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9972e-04 - acc: 1.00000s - loss: 2.1274e-05 - ac
Epoch 14/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.1818e-04 - acc: 1.0000
Epoch 15/100
24800/25724 [===========================>..] - ETA: 0s - loss: 2.9634e-04 - acc: 1.0000
Epoch 00015: saving model to optimized_checkpoints/weights.15.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8697e-04 - acc: 1.0000
Epoch 16/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9708e-04 - acc: 1.0000
Epoch 17/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8764e-04 - acc: 1.0000
Epoch 18/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.4709e-04 - acc: 1.00000s - loss: 4.0571e-05 - a
Epoch 19/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.0716e-04 - acc: 1.0000
Epoch 20/100
25440/25724 [============================>.] - ETA: 0s - loss: 2.9850e-04 - acc: 1.0000
Epoch 00020: saving model to optimized_checkpoints/weights.20.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9538e-04 - acc: 1.0000
Epoch 21/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7069e-04 - acc: 1.0000
Epoch 22/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8130e-04 - acc: 1.0000
Epoch 23/100
25724/25724 [==============================] - 1s 23us/sample - loss: 2.6988e-04 - acc: 1.0000
Epoch 24/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.2240e-04 - acc: 1.0000
Epoch 25/100
24576/25724 [===========================>..] - ETA: 0s - loss: 3.3147e-04 - acc: 1.0000
Epoch 00025: saving model to optimized_checkpoints/weights.25.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 3.1703e-04 - acc: 1.0000
Epoch 26/100
25724/25724 [==============================] - 1s 22us/sample - loss: 3.6002e-04 - acc: 1.0000
Epoch 27/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7782e-04 - acc: 1.0000
Epoch 28/100
25724/25724 [==============================] - 1s 23us/sample - loss: 2.7142e-04 - acc: 1.00000s - loss: 2.4663e-05 - acc: 1. - ETA: 0s - loss: 4.2364e-04 - acc: 0
Epoch 29/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.6850e-04 - acc: 1.0000
Epoch 30/100
24448/25724 [===========================>..] - ETA: 0s - loss: 2.5154e-04 - acc: 1.0000
Epoch 00030: saving model to optimized_checkpoints/weights.30.hdf5
25724/25724 [==============================] - 1s 23us/sample - loss: 2.3940e-04 - acc: 1.0000
Epoch 31/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.0800e-04 - acc: 1.0000
Epoch 32/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7566e-04 - acc: 1.0000
Epoch 33/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7095e-04 - acc: 1.0000
Epoch 34/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.6669e-04 - acc: 1.0000
Epoch 35/100
24640/25724 [===========================>..] - ETA: 0s - loss: 3.4268e-04 - acc: 1.0000
Epoch 00035: saving model to optimized_checkpoints/weights.35.hdf5
25724/25724 [==============================] - 1s 23us/sample - loss: 3.2903e-04 - acc: 1.0000
Epoch 36/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7556e-04 - acc: 1.0000
Epoch 37/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.6867e-04 - acc: 1.0000
Epoch 38/100
25724/25724 [==============================] - 1s 22us/sample - loss: 3.9420e-04 - acc: 1.0000
Epoch 39/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.1575e-04 - acc: 1.0000
Epoch 40/100
25376/25724 [============================>.] - ETA: 0s - loss: 2.9196e-04 - acc: 1.0000
Epoch 00040: saving model to optimized_checkpoints/weights.40.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8848e-04 - acc: 1.0000
Epoch 41/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9294e-04 - acc: 1.0000
Epoch 42/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8325e-04 - acc: 1.0000
Epoch 43/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7932e-04 - acc: 1.0000
Epoch 44/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.3446e-04 - acc: 1.00000s - loss: 2.3672e-04 - acc: 1.000
Epoch 45/100
25472/25724 [============================>.] - ETA: 0s - loss: 3.4453e-04 - acc: 1.0000
Epoch 00045: saving model to optimized_checkpoints/weights.45.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 3.4143e-04 - acc: 1.0000
Epoch 46/100
25724/25724 [==============================] - 1s 25us/sample - loss: 2.8524e-04 - acc: 1.0000
Epoch 47/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7954e-04 - acc: 1.0000
Epoch 48/100
25724/25724 [==============================] - 1s 22us/sample - loss: 3.0478e-04 - acc: 1.0000
Epoch 49/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8779e-04 - acc: 1.0000
Epoch 50/100
25664/25724 [============================>.] - ETA: 0s - loss: 2.7449e-04 - acc: 1.0000
Epoch 00050: saving model to optimized_checkpoints/weights.50.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7388e-04 - acc: 1.0000
Epoch 51/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.1882e-04 - acc: 1.0000
Epoch 52/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8216e-04 - acc: 1.0000
Epoch 53/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.3872e-04 - acc: 1.00000s - loss: 8.1983e-04 - acc:
Epoch 54/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8031e-04 - acc: 1.0000
Epoch 55/100
25504/25724 [============================>.] - ETA: 0s - loss: 3.2421e-04 - acc: 1.0000
Epoch 00055: saving model to optimized_checkpoints/weights.55.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 3.2180e-04 - acc: 1.0000
Epoch 56/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9285e-04 - acc: 1.0000
Epoch 57/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.5759e-04 - acc: 1.0000
Epoch 58/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.6328e-04 - acc: 1.0000
Epoch 59/100

25724/25724 [==============================] - 1s 22us/sample - loss: 2.5366e-04 - acc: 1.0000
Epoch 60/100
24832/25724 [===========================>..] - ETA: 0s - loss: 3.0643e-04 - acc: 1.0000
Epoch 00060: saving model to optimized_checkpoints/weights.60.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 2.9688e-04 - acc: 1.0000
Epoch 61/100
25724/25724 [==============================] - 1s 23us/sample - loss: 2.4962e-04 - acc: 1.0000
Epoch 62/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7310e-04 - acc: 1.0000
Epoch 63/100
25724/25724 [==============================] - 1s 24us/sample - loss: 2.6379e-04 - acc: 1.0000
Epoch 64/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.0900e-04 - acc: 1.0000
Epoch 65/100
24160/25724 [===========================>..] - ETA: 0s - loss: 3.6754e-04 - acc: 1.0000
Epoch 00065: saving model to optimized_checkpoints/weights.65.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 3.4524e-04 - acc: 1.0000
Epoch 66/100
25724/25724 [==============================] - 1s 21us/sample - loss: 4.1810e-04 - acc: 1.0000
Epoch 67/100
25724/25724 [==============================] - 1s 23us/sample - loss: 2.8847e-04 - acc: 1.0000
Epoch 68/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.5089e-04 - acc: 1.0000
Epoch 69/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8985e-04 - acc: 1.0000
Epoch 70/100
24512/25724 [===========================>..] - ETA: 0s - loss: 2.9904e-04 - acc: 1.0000
Epoch 00070: saving model to optimized_checkpoints/weights.70.hdf5
25724/25724 [==============================] - 1s 23us/sample - loss: 2.8535e-04 - acc: 1.0000
Epoch 71/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.1421e-04 - acc: 1.0000
Epoch 72/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8325e-04 - acc: 1.0000
Epoch 73/100
25724/25724 [==============================] - 1s 20us/sample - loss: 2.8655e-04 - acc: 1.0000
Epoch 74/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7457e-04 - acc: 1.00000s - loss: 5.2963e-04 - acc:
Epoch 75/100
24064/25724 [===========================>..] - ETA: 0s - loss: 2.9842e-04 - acc: 1.0000
Epoch 00075: saving model to optimized_checkpoints/weights.75.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8266e-04 - acc: 1.0000
Epoch 76/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.5274e-04 - acc: 1.0000
Epoch 77/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8610e-04 - acc: 1.0000
Epoch 78/100
25724/25724 [==============================] - 1s 21us/sample - loss: 3.3312e-04 - acc: 1.0000
Epoch 79/100
25724/25724 [==============================] - 1s 22us/sample - loss: 3.2868e-04 - acc: 1.0000
Epoch 80/100
24032/25724 [===========================>..] - ETA: 0s - loss: 3.2345e-04 - acc: 1.0000
Epoch 00080: saving model to optimized_checkpoints/weights.80.hdf5
25724/25724 [==============================] - 1s 23us/sample - loss: 3.0335e-04 - acc: 1.0000
Epoch 81/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7615e-04 - acc: 1.0000
Epoch 82/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8729e-04 - acc: 1.0000
Epoch 83/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9455e-04 - acc: 1.0000
Epoch 84/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7230e-04 - acc: 1.0000
Epoch 85/100
24032/25724 [===========================>..] - ETA: 0s - loss: 3.7398e-04 - acc: 1.0000
Epoch 00085: saving model to optimized_checkpoints/weights.85.hdf5
25724/25724 [==============================] - 1s 23us/sample - loss: 3.5016e-04 - acc: 1.0000
Epoch 86/100
25724/25724 [==============================] - 1s 22us/sample - loss: 3.0185e-04 - acc: 1.0000
Epoch 87/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7967e-04 - acc: 1.0000
Epoch 88/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.9134e-04 - acc: 1.0000
Epoch 89/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.6582e-04 - acc: 1.0000
Epoch 90/100
24448/25724 [===========================>..] - ETA: 0s - loss: 3.6062e-04 - acc: 1.0000
Epoch 00090: saving model to optimized_checkpoints/weights.90.hdf5
25724/25724 [==============================] - 1s 21us/sample - loss: 3.4326e-04 - acc: 1.0000
Epoch 91/100
25724/25724 [==============================] - 1s 23us/sample - loss: 2.9809e-04 - acc: 1.0000
Epoch 92/100
25724/25724 [==============================] - 1s 23us/sample - loss: 3.2765e-04 - acc: 1.0000
Epoch 93/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9963e-04 - acc: 1.00000s - loss: 1.7022e-05 - acc: 1.00
Epoch 94/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.8944e-04 - acc: 1.0000
Epoch 95/100
25632/25724 [============================>.] - ETA: 0s - loss: 2.8065e-04 - acc: 1.0000
Epoch 00095: saving model to optimized_checkpoints/weights.95.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 2.7979e-04 - acc: 1.0000
Epoch 96/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.7939e-04 - acc: 1.0000
Epoch 97/100
25724/25724 [==============================] - 1s 22us/sample - loss: 2.9590e-04 - acc: 1.0000
Epoch 98/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.9908e-04 - acc: 1.0000
Epoch 99/100
25724/25724 [==============================] - 1s 21us/sample - loss: 2.8269e-04 - acc: 1.0000
Epoch 100/100
25600/25724 [============================>.] - ETA: 0s - loss: 2.6862e-04 - acc: 1.0000
Epoch 00100: saving model to optimized_checkpoints/weights.100.hdf5
25724/25724 [==============================] - 1s 22us/sample - loss: 2.6732e-04 - acc: 1.0000

In [26]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.0167 - acc: 0.9995
Loss: 0.016730886651155123, Accuracy: 0.9995335340499878

In [27]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharityOptimized_First.h5")

In [28]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=46))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.0167 - acc: 0.9995
Loss: 0.016730886651155123, Accuracy: 0.9995335340499878

In [30]:
# Import the kerastuner library
# import kerastuner as kt
import keras_tuner as kt
import os

tuner = kt.Hyperband(
    create_model,
    objective="val_acc",
    max_epochs=20,
    directory=os.path.normpath('C:/AlphabetSoupCharity_Optimization_First'),
    hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project C:\AlphabetSoupCharity_Optimization_First\untitled_project\oracle.json

In [31]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))

Trial 61 Complete [00h 00m 17s]
val_acc: 0.9995335340499878

Best val_acc So Far: 0.9995335340499878
Total elapsed time: 00h 06m 29s
INFO:tensorflow:Oracle triggered exit

In [32]:
# Get best model hyperparameters
best_hyper = tuner.get_best_hyperparameters(1)[0]
best_hyper.values

{'activation': 'sigmoid',
 'first_units': 9,
 'num_layers': 6,
 'units_0': 9,
 'tuner/epochs': 3,
 'tuner/initial_epoch': 0,
 'tuner/bracket': 2,
 'tuner/round': 0,
 'units_1': 1,
 'units_2': 1,
 'units_3': 1,
 'units_4': 1,
 'units_5': 1}

In [33]:
best_model = tuner.get_best_models(1)[0]
best_model.save('AlphabetSoupCharity_Optimization_First.h5')