## Preprocessing

In [14]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [15]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [16]:
# Determine the number of unique values in each column.
print(application_df.nunique())

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [17]:
# Look at APPLICATION_TYPE value counts for binning
application_count = application_df.APPLICATION_TYPE.value_counts()
application_count

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Look at APPLICATION_TYPE value counts for binning
# use the variable name `application_types_to_replace`
application_types_to_replace = ('T9', 'T13', 'T12', 'T2', 'T14', 'T25', 'T15', 'T29', 'T17')

In [19]:
# Choose a cutoff value and create a list of application types to be replaced

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [20]:
# Look at CLASSIFICATION value counts for binning
classification_count = application_df.CLASSIFICATION.value_counts()
classification_count

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1283        1
C2561        1
C5200        1
C1728        1
C1820        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [21]:
# You may find it helpful to look at CLASSIFICATION value counts >1
greater_than_1 = (classification_count[classification_count > 1])
greater_than_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C2300       32
C7200       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1246        2
C1256        2
C1234        2
C3200        2
C1267        2
Name: CLASSIFICATION, dtype: int64

In [22]:
classifications_to_replace = list(classification_count[classification_count < 190].index)

In [23]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#classifications_to_replace = ('C1700', 'C4000', 'C5000', 'C1270', 'C2700', 'C2800', 'C7100', 'C1300', 'C1280', 'C1230', 'C1400', 'C7200',
 #                             'C2300', 'C1240', 'C8000', 'C7120', 'C1500', 'C6000', 'C1800', 'C1250', 'C8200', 'C1238', 'C1278',
#                              'C1235', 'C1237', 'C7210', 'C1720', 'C2400', 'C4100', 'C1600', 'C1257', 'C0', 'C1260', 'C2710',
#                              'C1267', 'C1234', 'C1246', 'C3200', 'C1256')

In [24]:
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1003
C7000      777
C1700      287
C4000      194
Name: CLASSIFICATION, dtype: int64

In [ ]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE

# Replace in dataframe
# for cls in classifications_to_replace:
#    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
#application_df['CLASSIFICATION'].value_counts()

In [25]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()

In [26]:
# Check the number of unique values in each column
application_df[application_cat].nunique()

APPLICATION_TYPE          9
AFFILIATION               6
CLASSIFICATION            9
USE_CASE                  5
ORGANIZATION              4
INCOME_AMT                9
SPECIAL_CONSIDERATIONS    2
dtype: int64

In [27]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [28]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [ ]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

In [31]:
# Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values.reshape(-1, 1)
X = application_df.drop("IS_SUCCESSFUL", axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [42]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  8
hidden_nodes_layer2 = 5

#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_6 (Dense)              (None, 8)                 376
_________________________________________________________________
dense_7 (Dense)              (None, 5)                 45
_________________________________________________________________
dense_8 (Dense)              (None, 1)                 6
=================================================================
Total params: 427
Trainable params: 427
Non-trainable params: 0
_________________________________________________________________

In [43]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [46]:
# Add model weight checkpoints during training
import os
from tensorflow.keras.callbacks import ModelCheckpoint
os.makedirs("checkpoints/", exist_ok=True)
checkpoint_path="checkpoints/weights.{epoch}.hdf5"

# Create callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(filepath=checkpoint_path,
                              verbose=1,
                              save_weights_only=True,
                              save_freq="epoch",
                              period=5)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of samples seen.

In [47]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5434 - acc: 0.7331
Epoch 2/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5436 - acc: 0.7331
Epoch 3/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5434 - acc: 0.73280s - loss: 0.5408 - acc:
Epoch 4/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5435 - acc: 0.7323
Epoch 5/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5434 - acc: 0.73320s - loss: 0.5444 - acc: 0.7
Epoch 6/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5431 - acc: 0.7332
Epoch 7/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5425 - acc: 0.733 - 1s 21us/sample - loss: 0.5432 - acc: 0.7330
Epoch 8/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5432 - acc: 0.73240s - loss: 0.5373 - acc: 0. - ETA: 0s - loss: 0.5433 - acc: 0.732
Epoch 9/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5430 - acc: 0.7328
Epoch 10/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5433 - acc: 0.7316
Epoch 11/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5429 - acc: 0.7328
Epoch 12/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5431 - acc: 0.73320s - loss: 0.5440 - acc: 0
Epoch 13/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5427 - acc: 0.73330s - loss: 0.5437 - acc: 0.73
Epoch 14/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5428 - acc: 0.7331
Epoch 15/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5428 - acc: 0.7335
Epoch 16/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5432 - acc: 0.7336
Epoch 17/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5428 - acc: 0.7333
Epoch 18/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5426 - acc: 0.7336
Epoch 19/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5429 - acc: 0.7340
Epoch 20/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5425 - acc: 0.7337
Epoch 21/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5429 - acc: 0.7334
Epoch 22/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5428 - acc: 0.7337
Epoch 23/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5425 - acc: 0.7339
Epoch 24/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5427 - acc: 0.7338
Epoch 25/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5426 - acc: 0.7344
Epoch 26/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5429 - acc: 0.7337
Epoch 27/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5427 - acc: 0.7339
Epoch 28/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5427 - acc: 0.7343
Epoch 29/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5423 - acc: 0.7335
Epoch 30/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5424 - acc: 0.7340
Epoch 31/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5425 - acc: 0.7342
Epoch 32/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5423 - acc: 0.7329
Epoch 33/100
25724/25724 [==============================] - ETA: 0s - loss: 0.5424 - acc: 0.733 - 1s 22us/sample - loss: 0.5424 - acc: 0.7343
Epoch 34/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5426 - acc: 0.7334
Epoch 35/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5425 - acc: 0.7330
Epoch 36/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5424 - acc: 0.7335
Epoch 37/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5425 - acc: 0.7343
Epoch 38/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5425 - acc: 0.7339
Epoch 39/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5423 - acc: 0.7336
Epoch 40/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5422 - acc: 0.7336
Epoch 41/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5423 - acc: 0.7342
Epoch 42/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5423 - acc: 0.73450s - loss: 0.5325 -
Epoch 43/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5423 - acc: 0.73450s - loss: 0.5424 - acc: 0.73 - ETA: 0s - loss: 0.5432 - acc: 0.7
Epoch 44/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5420 - acc: 0.7338
Epoch 45/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5419 - acc: 0.7345
Epoch 46/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5421 - acc: 0.7336
Epoch 47/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5421 - acc: 0.73530s - loss: 0.5429 - ac
Epoch 48/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5421 - acc: 0.7345
Epoch 49/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5419 - acc: 0.7353
Epoch 50/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5423 - acc: 0.7345
Epoch 51/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5419 - acc: 0.7348
Epoch 52/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5421 - acc: 0.7352
Epoch 53/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5419 - acc: 0.7352
Epoch 54/100
25724/25724 [==============================] - 1s 22us/sample - loss: 0.5422 - acc: 0.7345
Epoch 55/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5418 - acc: 0.7357
Epoch 56/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5418 - acc: 0.7356
Epoch 57/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5420 - acc: 0.7348
Epoch 58/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5419 - acc: 0.7351
Epoch 59/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5419 - acc: 0.7350
Epoch 60/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5418 - acc: 0.7349
Epoch 61/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5420 - acc: 0.7349
Epoch 62/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5418 - acc: 0.7353
Epoch 63/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5419 - acc: 0.7353
Epoch 64/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5416 - acc: 0.7355
Epoch 65/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5418 - acc: 0.7355
Epoch 66/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5417 - acc: 0.7348
Epoch 67/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5419 - acc: 0.7350
Epoch 68/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5416 - acc: 0.7352
Epoch 69/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5417 - acc: 0.7352
Epoch 70/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7357
Epoch 71/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7350
Epoch 72/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5418 - acc: 0.7355
Epoch 73/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5416 - acc: 0.7350
Epoch 74/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5416 - acc: 0.7354
Epoch 75/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5418 - acc: 0.7347
Epoch 76/100

25724/25724 [==============================] - 0s 19us/sample - loss: 0.5415 - acc: 0.7345
Epoch 77/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5417 - acc: 0.7346
Epoch 78/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5413 - acc: 0.7348
Epoch 79/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7343
Epoch 80/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7347
Epoch 81/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5417 - acc: 0.7355
Epoch 82/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7346
Epoch 83/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5417 - acc: 0.7345
Epoch 84/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5417 - acc: 0.7348
Epoch 85/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5414 - acc: 0.7353
Epoch 86/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5412 - acc: 0.7360
Epoch 87/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7345
Epoch 88/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7355
Epoch 89/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5415 - acc: 0.7347
Epoch 90/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5415 - acc: 0.7355
Epoch 91/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5415 - acc: 0.7350
Epoch 92/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5412 - acc: 0.7353
Epoch 93/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5413 - acc: 0.7352
Epoch 94/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5413 - acc: 0.7346
Epoch 95/100
25724/25724 [==============================] - 1s 23us/sample - loss: 0.5415 - acc: 0.7346
Epoch 96/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5412 - acc: 0.7352
Epoch 97/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5413 - acc: 0.7357
Epoch 98/100
25724/25724 [==============================] - 1s 20us/sample - loss: 0.5414 - acc: 0.7365
Epoch 99/100
25724/25724 [==============================] - 0s 19us/sample - loss: 0.5414 - acc: 0.7345
Epoch 100/100
25724/25724 [==============================] - 1s 21us/sample - loss: 0.5415 - acc: 0.7350

In [48]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5531 - acc: 0.7245
Loss: 0.5530840786483475, Accuracy: 0.7245481014251709

In [49]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity.h5")